
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:100;
  font-style: normal;
}
/* .navbar, .nav-links{
    display: flex;
} */
.display-flex{
    display: flex;
}
/* orange */
.orange{
    color: #ff8f0eee;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.primary-btn{
    background-color: #ff8f0eee;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 20px 25px;
    font-size: 1.2rem;

}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.bg{
    background-color: rgba(239, 140, 26, 0.661);
}
.navbar{
    justify-content: space-between;
}
.brand{
    font-weight: bold;
    font-size: 3rem;
}
.nav-links{
 align-items: center;
}
.nav-links a{
   text-decoration: none;
   font-weight: 500;
}
.nav-item{
    list-style: none;
      margin-right:30px;
      
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.banner-image{
    width: 100%;
}
/* team & features part */
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.features{
    text-align: center;
    max-width: 530px;
    margin-left: 130px; 
}
.features-title{
    font-weight: bold;
    font-size: 2rem;
}
.teams{
     align-items: center;
     margin-top: 120px;

}

@media screen and (max-width:576px) {
    .navbar,.nav-links,.teams{
        flex-direction: column;
    }
    .img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .features{
        margin-left: 20px;
    }
}
@media screen and (min-width:577px) and (max-width:976px){
    .teams{
        flex-direction: column;
    }
    
}
